doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Hello React!
        link(rel="stylesheet", href="assets/bundle.css")
    body
        #app
        script(type="text/javascript", src="assets/vendor.bundle.js")
        script(type="text/javascript", src="assets/bundle.js")
